@media (min-width:600px){

#parrafo1{
          width: 100%;        
        }
#parrafo2{
          width: 100%;        
        }
#parrafo3{
          width: 100%;      
        }
}
.uno{
    color: blue;
}
.dos{
    color: black;
}
@media (min-width: 601px) and (max-width:1200px){  
#parrafo1{
        width: 20%;
        float: left;       
        }
#parrafo2{
        width: 50%;       
        float: left;        
        }
#parrafo3{
        width: 50%;
        float: left;
        }
}
@media  (min-width:1201px){

#parrafo1{
        width: 30%;
        float: left;
        }
#parrafo2{
        width: 30%;
        float: left;
        }
#parrafo3{
        width: 30%;
        float: left;
        }
}

